services:
  mlflow:
    build:
      context: .
      dockerfile: Dockerfile.mlflow
    container_name: mlflow
    ports:
      - "5050:5050"
    volumes:
      - ./mlflow:/mlflow             
    networks:
      - mlops-net

networks:
  mlops-net:
    driver: bridge
